@model int

@{
    var searchRequest = ViewBag.searchRequest;
    var userName = ViewBag.userName;

    var pages = Math.Ceiling((double)Model / ViewBag.albumsPerPage);
}

<div class="navigation-container">
    @for (var i = 1; i <= pages; i++)
    {
        @Html.RouteLink(i.ToString("D"), "MainScheme",
        new { action = "Index", controller = "Albums", searchRequest, userName, page = i },
        new { @class = "navigation-links" })
    }
</div>
